<!-- <p>car-item works!</p>
<div class="displayCar">
  <div class="inner-displayCar">
    {{aCar.make}}<br>
    {{aCar.engine}}<br>
    {{aCar.year}}<br>
    {{aCar.model}}<br>
    {{aCar.color}}<br>
    <button (click)="removeCar()">Remove Car</button>
    <button (click)="updateCar()">Update Car</button>
    <button (click)="removeCar()" mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect>Remove Car</button>
  </div>
</div> -->

