<p>add-car works!</p>
<form [formGroup]="addCarForm" (ngSubmit)="addCarAction()">
  <div class="input-group mb-3">
    <input formControlName="make" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Make">
  </div>
  <div class="input-group mb-3">
    <input formControlName="engine" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Engine">
  </div>
  <div class="input-group mb-3">
    <input formControlName="color" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Color">
  </div>
  <div class="input-group mb-3">
    <input formControlName="model" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Model">
  </div>
  <div class="input-group mb-3">
    <input formControlName="year" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Year">
  </div>
  <div class="button-wrapper">
    <button mdbBtn type="submit" [disabled]="!this.addCarForm.valid" color="elegant" mdbWavesEffect>Add Car</button>
    <button mdbBtn type="button" color="elegant" mdbWavesEffect (click)="clearForm()">Clear Form</button>
  </div>

</form>




