<p>list-car works!</p>
<!-- <div class="list" *ngFor="let car of cars">
  <app-car-item
    [aCar] = "car"
    (removeCarAction)="removeCar($event)"
  ></app-car-item>

</div> -->

<!-- <div class="addCar">
  <app-add-car
  [parentcar]="editableCar"
  (addCar)="addCar($event)"></app-add-car>
</div> -->

<table mdbTable hover="true">
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}}</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol  *ngFor="let car of cars">
      <td>{{car.make}}</td>
      <td>{{car.engine}}</td>
      <td>{{car.color}}</td>
      <td>{{car.model}}</td>
      <td>{{car.year}}</td>
      <td>
        <a (click)="removeCar(car)" mdbBtn floating="true" size="sm" gradient="purple"><mdb-icon fas icon="trash"></mdb-icon></a>
        <a (click)="updateCar(car)" mdbBtn floating="true" size="sm" gradient="blue"><mdb-icon fas icon="edit"></mdb-icon></a>
      </td>
    </tr>
  </tbody>
</table>
